

<form method="POST" action="<%= action %>">
    <div>
      <label for="firstName" value="First Name">First name</label>
      <input id="firstName" name="firstName" type="text" autofocus maxlength="255" required value="<%= formData.firstName %>"> 
    </div>
    <br>
    
    <div>
      <label for="lastName" value="Last Name">Last name</label>
      <input id="lastName" name="lastName" type="text" required value="<%= formData.lastName %>">
    </div>
    <br>
    
    <div>
      <label for="academicRank">Academic Rank</label>
      <%- academicRank %>
    </div>
    <br>
    
    <div>
      <label for="residentialStatus">Residential Status</label>
      <%- residentialStatus %>
    </div>
    <br>
    
    <div>
      <label for="MajorOne">Major 1</label>
      <%- majorOne %>
    </div>
    <br>
    
    <div>
      <label for="MajorTwo">Major 2</label>
      <%- majorTwo %>
    </div>
    <br>
    
    Are you an athlete?
    <br>
    <input id="yesAthlete" type="radio" name="YNAthlete"/> Yes
    <input id="noAthlete" type="radio" name="YNAthlete"/> No
    <br>
    
    <div>
      <br>
      <label for="fallSport" class="sports">Fall sport</label>
      <%- fallSport %>
    </div>
    <br>

    <div>
      <br>
      <label for="springSport" id="springSports" class="sports">Spring sport</label>
      <%- springSport %>
    </div>
    <br>
    
    <button id="submitButton" type="submit">Update</button>

</form>
