

<form method="POST" action="<%= action %>" >
  <div>
    <h2>User Profile</h2>
  </div>
    <div class = "formPiece">
      <label for="firstName" value="First Name">*First name</label>
      <input id="firstName" name="firstName" type="text"  placeholder="First Name" autofocus maxlength="255" required value="<%= formData.firstName %>" > 
    </div>
  
    <div class = "formPiece">
      <label for="lastName" value="Last Name">*Last name</label>
      <input id="lastName" name="lastName" type="text" required value="<%= formData.lastName %>">
    </div>
    
    <div class = "formPiece">
      <label for="academicRank">*Academic Rank</label>
      <%- academicRank %>
    </div>
    
    <div class = "formPiece">
      <label for="residentialStatus">*Residential Status</label>
      <%- residentialStatus %>
    </div>
    
    <div class = "formPiece">
      <label for="majorOne">*Major 1</label>
      <%- majorOne %>
    </div>
    
    <div class = "formPiece">
      <label for="majorTwo">Major 2</label>
      <%- majorTwo %>
    </div>
    
    <div class = "formPiece">
      <label for="fallSport" class="sports">Fall sport</label>
      <%- fallSport %>
    </div>

    <div class = "formPiece">
      <label for="springSport" id="springSports" class="sports">Spring sport</label>
      <%- springSport %>
    </div>

    <div class = "formPiece">
      <button id="submitButton" type="submit">Update</button>
    </div>
    

</form>
