<% generateOptions = undefined; %>
<%- include("../../include/generateOptions.ejs"); %>

<div class="w3-row w3-container w3-display-middle w3-center w3-border w3-red w3-round w3-border-black" style="width:35%">
    <form method="POST" action="<%= baseUrl + action %>">
        <div>
            <h2><%= formData.firstName + " " + formData.lastName %></h2>
        </div>
        <div class="container">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="academicRank">Academic Rank(select one):</label>
                    <select class="form-control" id="academicRank" name="academicRank">\
                        <%- generateOptions("academicRank"); %>
                    </select>
                </div>
        </div>

        <div class="container">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="residentialStatus">Residential Status:</label>
                    <select class="form-control" id="residentialStatus" name="residentialStatus">\
                        <%- generateOptions("residentialStatus"); %>
                    </select>
                </div>

        <div class="container">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="majorOne">Major 1:</label>
                    <select class="form-control" id="majorOne" name="majorOne">\
                        <%- generateOptions("majorOne"); %>
                    </select>
                </div>
        </div>

        <div class="container">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="majorTwo">Major 2:</label>
                    <select class="form-control" id="majorTwo" name="majorTwo">\
                        <%- generateOptions("majorTwo"); %>
                    </select>
                </div>
        </div>

        <div class="container">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="sportOne">Sport 1:</label>
                    <select class="form-control" id="sportOne" name="sportOne">\
                        <%- generateOptions("sportOne"); %>
                    </select>
                </div>
        </div>

        <div class="container">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="sportTwo">Sport 2:</label>
                    <select class="form-control" id="sportTwo" name="sportTwo">\
                        <%- generateOptions("sportTwo"); %>
                    </select>
                </div>
        </div>

        <div class="container">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="slpInstructor">SLP Instructor:</label>
                    <select class="form-control" id="slpInstructor" name="slpInstructor">\
                        <%- generateOptions("slpInstructor"); %>
                    </select>
                </div>
        </div>
        <button type="submit" class="btn btn-outline-dark">Update</button>
    </form>
    </form>
</div>
