<script type="text/javascript">
function validateForm() {
    let d = new Date();
    d.setTime(d.getTime() + (365 * 24 * 60 * 60 * 1000));
    document.cookie = "location=" + register.location.value + "; expires=" + d.toUTCString() + "; path=/";
}
</script>

<p>This form will register this browser to permit NLC attendance tracking.</p>
<p>When a student checks in with this browser, their visit will be marked with the location that you enter below.</p>

<form name="register" onsubmit="return validateForm()" method="get" action="/staffmenu">
    Location Name:
    <input type="text" autofocus name="location" maxlength="255" required>
    <input type="submit" value="Submit">
</form>
