
  <div class="menu">
    <h1>Naylor Learning Center</h1>
    <h2>Staff Menu</h2>
    <p><button class="w3-btn w3-block w3-red" onclick="window.location.href = '/browser';">Register this browser for attendance tracking</button></p>
    <p><button class="w3-btn w3-block w3-red" onclick="window.location.href = '/student';">View Students</button></p>
    <p><button class="w3-btn w3-block w3-red" onclick="window.location.href = '/visit';">View Visits</button></p>
    <p><button class="w3-btn w3-block w3-red" onclick="window.location.href = '/staff/<%= userId %>/edit';">Update your profile</button></p>
    <p><button class="w3-btn w3-block w3-red" onclick="window.location.href = '/logout';">Log out</button></p>
  </div>