<!--
<% include ../logoutTimer.html %>
-->

<% var pageTitle = "Naylor Learning Center - Check In"; %>

<script src="/javascripts/formCheck.js"></script>

<form action="<% action %>" method="post">
    
    <br> What is your goal/purpose for this visit?
    <a target="_blank" href="#" title="What do you hope to accomplish today?"> </a>
    <br>
    
    <textarea name="purpose"  rows="10" cols="40" autofocus maxlength="255" placeholder="Description" required></textarea>
    <br>
    <br>
    
    <input type="submit" value="Submit">
</form>

