<div class="w3-row w3-container w3-display-middle w3-center w3-border w3-red w3-round w3-border-black"
    style="width:30%">
        </div>   <form method="POST" action="<%= baseUrl %>/login">
        <div class="w3-margin">
        <div>
            <input type="text" class="form-control" placeholder="Username" autofocus name="username" required />
        </div>
        <div>
            <input type="password" class="form-control" placeholder="Password" name="password" required/>
        </div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
    </form>
</div>
    </form>
</div>
