<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-5">
        <div class="container-fluid rounded py-3 de-colors">
            <h1 class="text-responsive">Davis &amp; Elkins College</h1>
            <h2 class="text-responsive">Naylor Learning Center</h2>
        </div>

        <form class="py-3" method="POST" action="<%= baseUrl %>/login">
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    autofocus
                    name="username"
                    required
                />
            </div>
            <div class="form-group">
                <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    required
                />
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-dark" data-cy="submit">Log In</button>
            </div>
            <% if (!sails.config.custom.ldap) { %>
            <div class="text-right pt-2">
                <i
                    class="fa fa-info-circle"
                    style="font-size: 200%"
                    data-toggle="tooltip"
                    data-placement="left"
                    title="This non-production deployment will accept any username. Valid passwords, and their purpose, are: `staff` (authorized for staff features), `student` (authorized for student features), `neither` (authenticated but not authorized), and `noldap` (simulates failed LDAP connection)."
                >
                </i>
            </div>
            <% } %>
        </form>
    </div>
</div>
