<form method="POST" action="<%= action %>">
  
  <div>
    <h2>User Profile</h2>
  </div>
  
  <div class = "w3-input">
    <label for="username">Username</label>
    <input id="username" name="username" type="email" value="<%= formData.username %>" readonly>
  </div>

  <div class = "w3-input">
    <label for="firstName">First name</label>
    <input id="firstName" name="firstName" type="text" value="<%= formData.firstName %>" required>
  </div>

  <div class = "w3-input">
    <label for="lastName">Last name</label>
    <input id="lastName" name="lastName" type="text" value="<%= formData.lastName %>" required>
  </div>

  <div class = "formPiece">
    Are you an SLP Instructor? :
    <select>
      <option id="myOption" value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </div>

  <div class = "formPiece">
    <button id="submitButton" type="submit">Update</button>
  </div>
</form>
