<form method="POST" action="<%= baseUrl + action %>">
    <div class="container">
        <h2><%= formData.firstName + " " + formData.lastName %></h2>
        <p>Are you an SLP Instructor?</p>
            <select id="isSlpInstructor" name="isSlpInstructor">
                <% if (formData.isSlpInstructor) { %>
                <option value="true" selected>Yes</option>
                <option value="false">No</option>
                <% } else { %>
                <option value="true">Yes</option>
                <option value="false" selected>No</option>
                <% } %>
            </select>
    </div>
    <h2></h2>
    <button id="submitButton" type="submit" class="btn btn-dark" onclick="return validateForm()">Submit</button>
</form>
