<% var pageTitle = "Check Out - Naylor Learning Center"; %>

<%- include('./include/logoutTimer.html') %>
    
<form method="POST" action="<%= action %>">
    
    <<p>You checed in <%= formData.checkInTime %> 
    
    <% if (estimateDuration != 0) { %>
        <p>Please estimate the duration of your visit:&nbsp; 
            <select name="estimatedDuration" required>
                <% for (var i = 1; i <= 32; i++) { %>
                    <option value="<%= i  %>"><%=i * 0.25%></option>
                <% } %>
            </select>&nbsp; hour(s).
        </p>
    <% } %>
    
    
    <p>The purpose of your visit was: <%=formData.visitPurpose%></p>
    <textarea rows="4" cols="75" disabled><%= formData.visitPurpose %></textarea>
    <br>
    <p>Did you accomplish the goal/purpose of your visit?</p>

    <input type="radio" name="purposeAchived" value="Yes" /> Yes
    <input type="radio" name="purposeAchived" value="No" /> No
    <input type="radio" name="purposeAchived" value="NotSure" /> Not Sure
    <br>

    <br>
    <p>Did you use a tutor?</p>
    <input type="radio" name="usedTutor" value="true" /> Yes
    <input type="radio" name="usedTutor" value="false" /> No
    <br>
    <p>If yes, list the courses: </p>
    <input id="tutor" type="text" name="tutor" maxlength="255"/>
    
    <br>
    <p>Comments:</p>
    <textarea rows="4" cols="75" placeholder="Description"></textarea>
    <br>
    
    <br>
    <button type="submit">Submit</button>
    

</form>
