<% try { %>



<form method="POST" action="<%= action %>">
<div class="w3-container w3-thrid w3-display-middle w3-center w3-border w3-red w3-round w3-border-black">
    <div>
        <h2>Check Out</h2>
    </div>

    <div class = "formPiece">
        <label  for="checkIn">You checked in on</label>
        <input id="checkIn"  value="<%= formData.checkInTime %>" readonly>
    </div>
    
    <% if (formData.isLengthEstimated) { %>
        <div class = "formPiece">
            <p>Please estimate the duration of your visit to the nearest quarter hour:&nbsp; 
                <select id="length" name="length" required>
                    <% for (var i = 1; i <= 32; i++) { %>
                        <option value="<%=i * 0.25%>"><%=i * 0.25%></option>
                    <% } %>
                </select>&nbsp; hour(s).
            </p>
        </div>
    <% } %>

    <div class = "w3-padding-16">
        <label  for="purpose">The purpose of your visit was:</label>
        <textarea class="w3-input" id="purpose" name="purpose"  rows="10" cols="40" autofocus maxlength="255" required value="<%= formData.purpose %>" readonly><%= formData.purpose %></textarea>
    </div>
    
    <div class = "formPiece">
      <label  for="purposeAchieved" id="purposeAchievedLabel">Did you accomplish the goal/purpose of your visit?</label>
    <%- purposeAchieved %>
    </div>
 
    <div class = "formPiece">
        <p>Did you used a Tutor?</p>
        <label class = "radio-inline">Yes<input type="radio" value="Yes" name="usedTutor"></label>
        <label class = "radio-inline">No<input type="radio" value="No" name="usedTutor"></label>
    </div>

    <div class = "formPiece">
        <label for="courses" value="courses">List the courses you worked on:</label>
        <input id="courses" name="courses" type="text" autofocus maxlength="255" required value="<%= formData.courses %>">
    </div>

    <div class = "formPiece">
        <p>Comments:</p>
        <textarea id="comment" name="comment" rows="4" cols="75" required value="<%= formData.comment %>"></textarea>
    </div>
    <div class="button w3-padding-16">
    <button class="w3-btn w3-white" id="submitButton" type="submit">Submit</button>
    </div>
</div>

</form>
<% } catch(error) { console.log(`EJS rendering error: ${error}`); }; %>
