<% try { %>


<form method="POST" action="<%= action %>">

    <p>You check in </p>&nbsp; <%= formData.checkInTime %> <br>

  
    <% if (formData.isLengthEstimated) { %>
        <p>Please estimate the duration of your visit to the nearest quarter hour:&nbsp; 
            <select id="visitLength" name="visitLength" required>
                <% for (var i = 1; i <= 32; i++) { %>
                    <option value="<%= i  %>"><%=i * 0.25%></option>
                <% } %>
            </select>&nbsp; hour(s).
        </p>
    <% } %>
    
    <br>
 
    <p>The purpose of your visit was: </p>&nbsp; <%= formData.visitPurpose%>
 

    <div>
      <label for="purposeAchieved">Did you accomplish the goal/purpose of your visit?</label>
      <%- formData.purposeAchieved %>
    </div>
    <br>
    


    <div>
        <p>Did you used a Tutor?</p>
        <input type="radio" value="Yes" name="usedTutor"> Yes <br>
        <input type="radio" value="No" name="usedTutor"> No <br>
    </div>
    <br>

    <div>
        <label for="tutorCourses" value="tutorCourses">If yes, list the Courses:</label>
        <input id="tutorCourses" name="tutorCourses" type="text" autofocus maxlength="255" required value="<%= formData.tutorCourses %>">
    </div>
    <br>

    <p>Comments:</p>
    <textarea rows="4" cols="75" id="comment" required value="<%= formData.comment %>"></textarea>
    <br>

    <br>
    <button id="submitButton" type="submit">Submit</button>


</form>
<% } catch(error) { console.log(`EJS rendering error: ${error}`); }; %>
