<div class = "download">
    <a id="link" download="student.csv">
        <button onclick="download()">Download this view</button>
    </a>


<script>
    function download() {
        var table = document.getElementById("visitTable");
        var data = ""; //requires some initiation or has an annoying "undefined" in the first cell
        
        //convert object to array
        //code shell courtesy of https://stackoverflow.com/questions/3072233/getting-value-from-table-cell-in-javascript-not-jquery
        for (var rowIndex = 0, rowLength = table.rows.length; rowIndex < rowLength; rowIndex++) {
            for (var cellIndex = 0, cellLength = table.rows[rowIndex].cells.length; cellIndex < cellLength; cellIndex++) {
                data += table.rows[rowIndex].cells.item(cellIndex).innerHTML.trim() + ", "; //append contents of cell and add comma for new cell
            }
            //new row
            data += "\n";
        }
        
        //convert into file and URL and pass URL to download button for execution
        var file = new Blob([data], {type: "text/csv"});
        var url = URL.createObjectURL(file);
        var link = document.getElementById("link");
        link.setAttribute("href", url);
}
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("visitTable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (Number(x.innerHTML) > Number(y.innerHTML)) {
            shouldSwitch = true;
            break;
        }
        // if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {                 //this code sorts text
        //   // If so, mark as a switch and break the loop:
        //   shouldSwitch = true;
        //   break;
        // }
      } else if (dir == "desc") {
        if (Number(x.innerHTML) > Number(y.innerHTML)) {
            shouldSwitch = true;
            break;
        }
        // if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
        //   // If so, mark as a switch and break the loop:
        //   shouldSwitch = true;
        //   break;
        // }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

<!-- Populate table -->
<div style="overflow-x:auto;">
    <table id="visitTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Student ID</th>
                <th>Name</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Visit Length</th>
                <th>Purpose of Visit</th>
                <th>Purpose Achieved?</th>
                <th>Comments</th>
                <th>Used Tutors</th>
                <th>Tutor Course</th>
            </tr>
        </thead>

        <% if(records) {records.forEach(function(visit) { %>
            <tbody>
                <tr>
                    <td>
                        <%= visit.id %>
                    </td>
                    <td>
                        <%= visit.studentId[0].id %>
                    </td>
                    <td>
                        <%= visit.studentId[0].firstName + " " + visit.studentId[0].lastName %>
                    </td>
                    <td>
                        <%= visit.checkInTime %>
                    </td>
                    <td>
                        <%= visit.checkOutTime %>
                    </td>
                    <td>
                        <%= visit.length %>
                    </td>
                    <td>
                        <%= visit.purpose %>
                    </td>
                    <td>
                        <%= visit.purposeAchieved %>
                    </td>
                    <td>
                        <%= visit.comment %>
                    </td>
                    <td>
                        <%=visit.usedTutor %>
                    </td>
                    <td>
                        <%= visit.tutorCourses %>
                    </td>
                </tr>
            </tbody>
        <% }); }%>
    </table>
</div>
</div>