<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

</style>

<div class="w3-center" style="padding-bottom: 18px;">
    <a href="/visit/download">Download all visit data</a>
</div>
<div class="w3-table-all w3-center" style="overflow:scroll;">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Visit Length</th>
                <th>Estimated Length?</th>
                <th>Purpose of Visit</th>
                <th>Purpose Achieved?</th>
                <th>Comments</th>
                <th>Used Tutors?</th>
                <th>Tutor Courses</th>
            </tr>
        </thead>

        <% if(records) {records.forEach(function(visit) { %>
        <tbody>
            <tr>
                <td>
                    <%= visit.id %>
                </td>
                <td>
                    <%= visit.student.firstName + " " + visit.student.lastName %>
                </td>
                <td>
                    <%= visit.checkInTime %>
                </td>
                <td>
                    <%= visit.checkOutTime %>
                </td>
                <td>
                    <%= visit.length %>
                </td>
                <td>
                    <%= visit.isLengthEstimated %>
                </td>
                <td>
                    <%= visit.purpose %>
                </td>
                <td>
                    <%= visit.purposeAchieved %>
                </td>
                <td>
                    <%= visit.comment %>
                </td>
                <td>
                    <%=visit.usedTutor %>
                </td>
                <td>
                    <%= visit.tutorCourses %>
                </td>
            </tr>
        </tbody>
        <% }); }%>
    </table>
</div>
