<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-5">
<h1>Goodbye</h1>
<form method="POST" action="<%= baseUrl + action %>">
    <p>You checked in <%= formData.checkInTime %>.</p>

    <% var autofocus_set = false; %>
    <% if (formData.isLengthEstimated) { %>
        <% autofocus_set = true; %>
    <div class="form-group">
        <label for="length" id="lengthLabel">
            Please estimate the duration of your visit to the nearest quarter
            hour.
        </label>
        <select
            class="form-control"
            id="length"
            name="length"
            required
            size="1"
            autofocus
        >
            <option value="" selected>Choose one ...</option>
            <% for (var i = 1; i <= 32; i++) { %>
            <option value="<%=i * 0.25%>"><%=i * 0.25%></option>
            <% } %>
        </select>
    </div>
    <% } %>

    <div>
        The purpose of your visit was:
        <div class="text-primary p-3"><%= formData.purpose %></div>
    </div>

    <div class="form-group">
        <label for="purposeAchieved" id="purposeAchievedLabel"
            >Did you accomplish the purpose of your visit?</label
        >
        <select
            class="form-control"
            id="purposeAchieved"
            name="purposeAchieved"
            required
            size="1"
            <% if (!autofocus_set) { %>
            autofocus
            <% } %>
        >
            <option value="">Choose one ...</option>
            <% for (let option of options.purposeAchieved) { %>
            <option value="<%= option %>"><%= option %></option>
            <% } %>
        </select>
    </div>

    <div class="form-group">
        <label for="tutor" id="tutorQuestion">Did you use a tutor?</label>
        <select
            class="form-control"
            id="tutor"
            name="usedTutor"
            required
            oninput="tutorValueChanged(this.value)"
        >
            <option value>Choose one ...</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>

    <div id="tutorDetails" class="ml-4" style="display: none">
        <div class="form-group">
            <label for="tutorCourses" value="tutorCourses"
                >For which courses?</label
            >
            <input
                class="form-control"
                id="tutorCourses"
                name="tutorCourses"
                type="text"
                maxlength="255"
            />
        </div>
        <div class="form-group">
            <label for="tutorInstructors" value="tutorInstructors"
                >For which instructors?</label
            >
            <input
                class="form-control"
                id="tutorInstructors"
                name="tutorInstructors"
                type="text"
                maxlength="255"
            />
        </div>
    </div>

    <p>
        <textarea
            class="form-control"
            rows="4"
            maxlength="255"
            id="comment"
            name="comment"
            placeholder="Comments (optional)"
        ></textarea>
    </p>

    <div class="text-right">
        <button class="btn btn-dark" id="submitButton" type="submit" data-cy="submit">Check Out</button>
    </div>
</form>
    </div>
    </div>

<script>
    function tutorValueChanged(newValue) {
        let div = document.getElementById("tutorDetails");
        let courses = document.getElementById("tutorCourses");
        let instructors = document.getElementById("tutorInstructors");

        if (newValue === "Yes") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
            courses.value = "";
            instructors.value = "";
        }
    }
</script>
