<% try { %>

<form method="POST" action="<%= baseUrl + action %>">
    <div class="w3-container w3-thrid w3-display-middle w3-center w3-border w3-red w3-round w3-border-black">
        <div>
            <h2>Check Out</h2>
        </div>

        <div class="formPiece">
            You checked in <%= formData.checkInTime %>.
        </div>

        <% if (formData.isLengthEstimated) { %>
        <div class="formPiece">
            <p>*Please estimate the duration of your visit to the nearest quarter hour:&nbsp;
                <select id="length" name="length" required size="1">
                    <option value="" selected>Choose one ...</option>
                    <% for (var i = 1; i <= 32; i++) { %>
                    <option value="<%=i * 0.25%>"><%=i * 0.25%></option>
                    <% } %>
                </select>&nbsp; hour(s).
            </p>
        </div>
        <% } %>

        <div class="w3-padding-16">
            The purpose of your visit was: <blockquote><%= formData.purpose %></blockquote>
        </div>

        <div class="formPiece">
            <label for="purposeAchieved" id="purposeAchievedLabel">*Did you accomplish the goal/purpose of your
                visit?</label>
            <%- purposeAchieved %>
        </div>

        <div class="formPiece">
            <p>Did you use a tutor?&nbsp;
                <label class="radio-inline">Yes&nbsp;<input type="radio" value="Yes" name="usedTutor"></label>
                &nbsp; &nbsp;
                <label class="radio-inline">No&nbsp;<input type="radio" value="No" name="usedTutor"></label>
            </p>
        </div>

        <div class="formPiece">
            <label for="tutorCourses" value="tutorCourses">For which courses were you tutored?</label>
            <input id="tutorCourses" name="tutorCourses" type="text" autofocus maxlength="255"
                value="<%= formData.tutorCourses %>">
        </div>

        <div class="formPiece">
            <p>Comments:</p>
            <textarea id="comment" name="comment" rows="4" cols="75" value="<%= formData.comment %>"></textarea>
        </div>
        <div class="button w3-padding-16">
            <button class="w3-btn w3-white" id="submitButton" type="submit">Submit</button>
        </div>
    </div>

</form>
<% } catch(error) { console.log(`EJS rendering error: ${error}`); }; %>
