<!--For ease of use for the teachers who view this data, I've found the sails method that does sql queries and will make a method or two that allows them to sort the data. 
This "sort" method will also be the basis for the initial data load as well-->
<!--https://sailsjs.com/documentation/reference/waterline-orm/datastores/send-native-query
    https://ejs.co/-->

<body>
    <form method="POST" action= "<%= action %>">
    <label for="query" value="Input">Input</label>
    <input id="query" type="text">
    </form>
    <!-- load table from controller -->
</body>


 
    <!--This will be moved to a controller to follow the RESTful API better.-->
    <script> 
    var RETURN_SQL_TABLE =  `SELECT * FROM visit`;
    var tableRequested = await sails.sendNativeQuery(RETURN_SQL_TABLE, query);
    console.log(tableRequested);
     </script>

