/* styling for banner elements, adapted from w3.css alerts  */
div.banner {
    color: #000!important;
    background-color: #ddffff;
    border: 1px solid #ccc!important;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0.01em 16px;
    position: relative;
    box-sizing: inherit;
}