.de-colors{
    background-color:#ee082e;
    color:white;
}

.discontinued {
  text-decoration: line-through;
}

.custom-check-box {
  border: none;
  background-color: transparent;
}

/* Smaller header fonts for screen widths <= 600px.
    (Percentages apply to *parent's* font size.)
*/
@media screen and (max-width: 600px) {
  h1.text-responsive {
    font-size: 150%;
  }

  h2.text-responsive {
    font-size: 125%;
  }
}

