<form method="POST" action="/login">
    
    <h1>Davis &amp; Elkins College</h1>
    <h2>Naylor Learning Center</h2>

    <div>
        <input name="username" class="w3-input w3-border" placeholder="Username" autofocus type="text" required/>
    </div>

    <div>
        <input name="password" class="w3-input w3-border" placeholder="Password" type="password" required/>
    </div>

    <div class = "button">
        <button class="w3-btn w3-block w3-red" type="submit">Login</button>
    </div>
    
 </form>