<form method="POST" action="/login">
    
    <h1>Davis &amp; Elkins College</h1>
    <h2>Naylor Learning Center</h2>

    <div class = "formPiece">
        <input name="username" class="login" placeholder="Username" autofocus type="text"/>
    </div>

    <div class = "formPiece">
        <input name="password" class="login" placeholder="Password" autofocus type="password"/>
    </div>

    <div class = "formPiece">
        <button id="submitButton" type="submit">Login</button>
    </div>
    
 </form>