
<script type="text/javascript" src="/studentForm.js"></script>

<form method="POST" action="<%= action %>">
    <div>
      <label for="firstName" value="First Name">First name</label>
      <input id="firstName" name="firstName" type="text" autofocus maxlength="255" required value="<%= formData.firstName %>"> 
    </div>
    
    <div>
      <label for="lastName" value="Last Name">Last name</label>
      <input id="lastName" name="lastName" type="text" value="<%= formData.lastName %>">
    </div>
    
    <div>
      <label for="ClassRank">Class Rank</label>
      <%- classRank %>
    </div>
    
    <div>
      <label for="MajorOne">Major 1</label>
      <%- majors %>
    </div>
    
    <div>
      <label for="MajorTwo">Major 2</label>
      <%- majors %>
    </div>
    
    <br> 
    Are you an athlete?
    <br>
    <input type="radio" name="yesAthlete" onclick="showSports()" /> Yes
    <input type="radio" name="noAthlete" /> No
    <br>
    
    <div>
      <br>
      <label for="fallSport" id="fallSports" style="display:none;">Fall sport</label>
      <%- fallSport %>
      <br>
    </div>

    <div>
      <br>
      <label for="springSport" id="springSports" style="display:none;">Spring sport</label>
      <%- springSport %>
      <br>
    </div>
    
    <button type="submit"><%= buttonLabel %></button>
</form>
