<div class="w3-center w3-padding">
    <a href="<%= baseUrl %>/sport/new">Add New
        Sport</a>
</div>

<div style="width: 70%; padding-left: 30%;">
    <table class="w3-table-all w3-card" id="sportTable">
        <thead>
            <tr>
                <th class="w3-left w3-margin-left">Sport</th>
                <th class="w3-center">Discontinued</th>
            </tr>
        </thead>

        <% let count = 0; %>
        <% if (records) {
            records.forEach(function(sport) { 
                count++; 
        %>
        <tbody>
            <tr>
                <td class="w3-left w3-margin-left">
                    <%= sport.name %>
                </td>
                <td>
                    <form class="w3-center" method="POST" action="<%= baseUrl %>/sport/<%= sport.id %>">
                        <% if (sport.discontinued === "Yes") { %>
                        <input type="hidden" name="discontinued" value="No" />
                        <button style="border: none; background-color: white;" type="submit" id="Y<%= count %>"><i class="fa fa-check-square-o" style="font-size: 150%;"></i></button>
                        <% } else { %>
                        <input type="hidden" name="discontinued" value="Yes" />
                        <button style="border: none; background-color: white;" type="submit" id="N<%= count %>">
                            <i class="fa fa-square-o" style="font-size: 150%;"></i></button>
                        <% } %>
                    </form>
                </td>
            </tr>
        </tbody>
        <% }); }%>
    </table>
</div>
