<a>< href="<%= baseUrl %>/sport/new"class="btn btn-dark float-right mt-2"role="button>>Add a new Sport</a>

    <table class="table table-borderless" id="sportTable">
        <thead>
            <tr>
                <th class="text-left">Sport</th>
                <th class="text-center">Discontinued</th>
            </tr>
        </thead>

        <tbody>
            <% let count = 0; %>
            <% if (records) {
        records.forEach(function(sport) {
            count++;
    %>
            <tr>
                <td class="text-left"><%= sport.name %> </td>
                <td>
                    <form class="text-center" method="POST" action="<%= baseUrl %>/sport/<%= sport.id %>">
                        <% if (sport.discontinued === "Yes") { %>
                        <input type="hidden" name="discontinued" value="No" />
                        <button style="border: none; background-color: white;" type="submit" id="Y<%= count %>"><i class="fa fa-check-square-o" style="font-size: 150%;"></i></button>
                        <% } else { %>
                        <input type="hidden" name="discontinued" value="Yes" />
                        <button style="border: none; background-color: white;" type="submit" id="N<%= count %>">
                            <i class="fa fa-square-o" style="font-size: 150%;"></i></button>
                        <% } %>
                    </form>
                </td>
            </tr>
            <% }); }%>
        </tbody>
    </table>
