<script>
    function onUpdate(id, rowNum) {
        let discontinued = document.querySelector(`#name${rowNum}`).classList.toggle("discontinued") ? "Yes" : "No";
        document.querySelector(`#toggle${rowNum} i`).classList.toggle("fa-check-square-o");
        document.querySelector(`#toggle${rowNum} i`).classList.toggle("fa-square-o");

        let formData = new FormData();
        formData.append("discontinued", discontinued);
        fetch("<%= baseUrl %>/sport/" + id, {
            method: "POST",
            body: new URLSearchParams([...formData])
        })
    }
</script>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-5">
        <div class="d-flex justify-content-between">
            <div>
                <h1>Sports</h1>
            </div>
            <div>
                <a href="<%= baseUrl %>/sport/new" data-cy="new-sport-link" aria-label="Add a new sport">
                    <i class="fa fa-plus-circle" style="font-size: 48px; color: black" data-toggle="tooltip"
                        data-placement="right" title="Add a new sport">
                    </i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-5">
        <div class="sticky-table-container">
            <table class="table table-striped table-bordered" id="sportTable">
                <thead>
                    <tr>
                        <th class="text-left">Name</th>
                        <th class="text-nowrap">
                            Discontinued&nbsp;
                            <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right"
                                title="After a sport is discontinued, it can no longer be added to student profiles. It will remain on profiles where it was already present.">
                            </i>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <% let count = 0; %>
                    <% if(records) {
                        records.forEach(function(sport) {
                            count++ %>
                    <tr>
                        <td id="name<%= count %>"
                            class="text-left pt-0 pb-0 <%= sport.discontinued === 'Yes' ? 'discontinued' : '' %>">
                            <%= sport.name %>
                        </td>
                        <td class="pt-0 pb-0">
                            <% let newVal = (sport.discontinued === "Yes" ? "No" : "Yes"); %>
                            <button style="border: none;background-color: transparent;"
                                onclick="onUpdate(<%= sport.id %>, <%= count %>)" id="toggle<%= count %>">
                                <i class="fa <%= sport.discontinued === 'Yes' ? 'fa-check-square-o' : 'fa-square-o' %>"
                                    style="font-size: 150%"></i>
                            </button>
                        </td>
                    </tr>
                    <% });
                    }%>
                </tbody>
            </table>
        </div>
    </div>
</div>
